body {
    font-family: 'Macondo Swash Caps', cursive;
    color: #5e5d5d;
    text-align: center;
  }
.dark
{
    background-color: black;
    color: cornsilk;
    text-align: center;
}
  header{
      text-align: center;
      font-size: 25px;
  }
  
  .score{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    text-decoration-style: solid;
    font-size: 30px;
  }
  main {
    max-width: 1000px;
    margin: 25px auto;
    border: 5px solid #5e5e5e;
    border-radius: 5px;
  }
  button
  {
    border: none;
  }
  .images-1{
    border: 0;
    padding: 15px; 
  }
  .weapon-opacity{
    opacity: 0.5;
  }
  img:hover{
    transition: all 1s;
    transform: scale(1.1);
  }
  .selection{
    display: block;
    justify-content: space-evenly;
    padding: 15px;
  }
  p{
    font-style: italic;
  }
  .selection,#comment{
    font-size: 25px;
  }


 
    @media only screen and (max-width: 600px) {
      body {
        font-size: 18px;  
        width: auto;
      }
      main{
        border: 0px;
      }
    }
